body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}
h1, h2, h3{
  margin:0.5rem 0;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.25rem;
}
h3{
  font-size: 1rem;
}
a{
  text-decoration: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.col-1{
  flex: 1;
  padding: 0.5rem;
}
.col-2{
  flex: 2;
  padding: 0.5rem;
}
.block{
  background-color: aliceblue;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center{
  align-items: center ;
}
img.small{
 max-height: 8rem;
}
button{
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover{
  background-color: #76c078;
}
button.agregar{
  background-color: #564caf;
  width: 1.5rem;
}
button.agregar:hover{
  background-color: #7b72cc;
}
button.eliminar{
  background-color: #f44336;
  width: 1.5rem;
}
button.eliminar:hover{
  background-color: #fa0303;
}
button.editar{
  background-color: #ff9800;
  width: 1.5rem;
  border: none;
  color:#ffffff;
}
.text-right{
  text-align: right;
}
.elim{
  background-color: red;
}