
.navbar{

    position : relative;
    top : 0;
    left : 0;
    display: grid;
    grid-template-columns: 6;
    justify-content: right;
    background-color: #ffd100;

   
    
}
.img{
    position: fixed;
    top: 10px;
    left: 0;
    width: 3em;
    height:auto;

}
.buscador{

    position: fixed;
    top: 10px;
    left: 315px;
    width: 20em;
    height:2em;
    border-radius: 1px;
    border: 1px solid #8f7813;



}
ul{
    display:flex;
    flex-direction: row;
    align-content: flex-end; 
    align-items: center;
    justify-content: flex-end;

    color: red;
    li{
        list-style:none;
        margin-left:5px;
        margin-right: 5px;

    }

}